<h1 id="tableLabel">Todo Items Test</h1>
<p>{{ message }}</p>
<div><button type="button" title="add" (click)="add()">Add</button></div>
<table *ngIf="todoItemStoreList">
  <thead>
    <tr>
      <th>Id</th>
      <th>Description</th>
      <th>Due Date</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let store of todoItemStoreList"
      todo-item
      [todoItemStore]="store"
      [todoItemsStore]="todoItemsStore"
    ></tr>
  </tbody>
</table>
