<td (dblclick)="edit()">{{ formId.value }}</td>
@if(mode==='view'){
<td (dblclick)="edit()">{{ formDescription.value }}</td>
<td (dblclick)="edit()">{{ formDueDate.value | date }}</td>
<td (dblclick)="edit()">{{ formStatus.value }}</td>
<td>
  <button type="button" (click)="edit()">Edit</button>
  <button type="button">Delete</button>
  <div *ngIf="message !== ''">{{ message }}</div>
</td>
} @if (mode==='edit') {
<td>
  <input
    id="description"
    title="description"
    type="text"
    [formControl]="formDescription"
  />
</td>
<td>
  <input
    id="due-date"
    title="due-date"
    type="date"
    [formControl]="formDueDate"
  />
</td>
<td>
  @if (formStatus.value==='Overdue'){
  {{ formStatus.valueChanges | async }}
  }@else {
  <select id="status" title="status" [formControl]="formStatus">
    <option value="To-do">To-do</option>
    <option value="In Progress">In Progress</option>
    <option value="Done">Done</option>
  </select>
  }
</td>
<td>
  <button title="save" type="button" (click)="save()">Save</button>
  <button title="cancel" type="button" (click)="cancel()">Cancel</button>
</td>
}
