<td (dblclick)="edit()">{{ formGroup.controls.id.value }}</td>
@if(mode==='view'){
<td (dblclick)="edit()">{{ formGroup.controls.description.value }}</td>
<td (dblclick)="edit()">{{ formGroup.controls.dueDate.value | date }}</td>
<td (dblclick)="edit()">{{ formGroup.controls.status.value }}</td>
<td>
  <button type="button" (click)="edit()">Edit</button>
  <button type="button" (click)="delete()">Delete</button>
  <span *ngIf="actionMessage !== ''">{{ actionMessage }}</span>
</td>
} @if (mode==='edit') {
<td>
  <input
    id="description"
    title="description"
    type="text"
    [formControl]="formGroup.controls.description"
  />
  <div *ngIf="this.formGroup.controls.description.hasError('error')">
    {{ this.formGroup.controls.description.getError("error") }}
  </div>
</td>
<td>
  <input
    id="due-date"
    title="due-date"
    type="date"
    [formControl]="formGroup.controls.dueDate"
  />
  <div *ngIf="this.formGroup.controls.dueDate.hasError('error')">
    {{ this.formGroup.controls.dueDate.getError("error") }}
  </div>
</td>
<td>
  @if (formGroup.controls.status.value==='Overdue'){
  {{ formGroup.controls.status.value }}
  }@else {
  <select id="status" title="status" [formControl]="formGroup.controls.status">
    <option value="To-do">To-do</option>
    <option value="In progress">In progress</option>
    <option value="Done">Done</option>
  </select>
  <div *ngIf="this.formGroup.controls.status.hasError('error')">
    {{ this.formGroup.controls.status.getError("error") }}
  </div>
  }
</td>
<td>
  <button title="save" type="button" (click)="save()">Save</button>
  <button title="cancel" type="button" (click)="cancel()">Cancel</button>
</td>
}
